$primary: #212121;
$primary-dark: #1E1E1E;
$primary-lighter-lighter: #EFEFEF;
$primary-lighter-dark: #D6D6D6;
$secondary: #FDB822;
$secondary-lighter-lighter: #f7b424;

$font-size-xs: 10px;
$font-size-sm: 12px;
$font-size-md: 14px;
$font-size-lg: 16px;
$font-size-xl: 18px;

$font-extra-size-xl: 21px;
$font-extra-size-xxl: 24px;
$font-extra-size-xxxl: 27px;