@use '@/styles/variables';
@use '@/styles/mixins/flex_font';

.bottom-section {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  height: 100vh;
  padding: 45px 0 0 0;
  -webkit-box-shadow: 0px 0px 3px 0px rgba(66, 68, 90, 0.411);
  -moz-box-shadow: 0px 0px 3px 0px rgba(66, 68, 90, 0.397);
  box-shadow: 0px 0px 3px 0px rgba(66, 68, 90, 0.356);

  @media screen and (max-width: 550px) {
    flex-direction: column;
  }

  .background {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .86);
    opacity: .85;
    mix-blend-mode: multiply;
    transition: background .3s, border-radius .3s, opacity .3s;
    border-right: 5px solid variables.$secondary;
    -webkit-box-shadow: 0px 0px 3px 0px rgba(66, 68, 90, 0.411);
    -moz-box-shadow: 0px 0px 3px 0px rgba(66, 68, 90, 0.397);
    box-shadow: 0px 0px 3px 0px rgba(66, 68, 90, 0.356);
  }
}

.top-content {
  position: absolute;
  padding: 5px;
  width: 50%;
  -webkit-box-shadow: 0px 0px 3px 0px rgba(66, 68, 90, 0.411);
  -moz-box-shadow: 0px 0px 3px 0px rgba(66, 68, 90, 0.397);
  box-shadow: 0px 0px 3px 0px rgba(66, 68, 90, 0.356);
  background-color: rgb(66 68 90 / 70%);
  display: flex;
  flex-direction: row;
  top: 45%;
  left: 10%;
  text-align: left;
  transform: translate(0, -30%);

  @media screen and (max-width: 550px) {
    top: 15%;
    right: 10%;
    width: 80%;
  }

  .title {
    @include flex_font.dynamic(variables.$font-size-xl, variables.$font-extra-size-xl);
    color: variables.$secondary;
    text-transform: uppercase;
    word-break: break-word;
    word-wrap: break-word;
    text-align: left;
    font-weight: 900;
  }

  .heading {
    @include flex_font.dynamic(variables.$font-extra-size-xxl, variables.$font-extra-size-xxxl);
    padding-top: 10px;
    padding-bottom: 10px;
    word-break: break-word;
    word-wrap: break-word;
    text-align: left;
    color: variables.$primary-lighter-lighter;
    text-transform: uppercase;
    font-weight: 900;
  }

  .icon {
    padding-right: 3px;
    color: variables.$secondary;
  }

  .text {
    @include flex_font.dynamic(variables.$font-size-md, variables.$font-size-lg);
    word-break: break-word;
    word-wrap: break-word;
    text-align: left;
    font-weight: 700;
    padding-bottom: 2px;
    height: auto;
    display: flex;
    color: variables.$primary-lighter-lighter;
  }
}

.bottom-content {
  padding: 5px;
  width: 40%;
  -webkit-box-shadow: 0px 0px 3px 0px rgba(66, 68, 90, 0.411);
  -moz-box-shadow: 0px 0px 3px 0px rgba(66, 68, 90, 0.397);
  box-shadow: 0px 0px 3px 0px rgba(66, 68, 90, 0.356);
  background-color: rgb(66 68 90 / 40%);
  display: flex;
  flex-direction: row;
  text-align: left;

  @media screen and (max-width: 550px) {
    width: 100vw;
  }

  .title {
    @include flex_font.dynamic(variables.$font-size-xl, variables.$font-extra-size-xl);
    color: variables.$secondary;
    text-transform: uppercase;
    word-break: break-word;
    word-wrap: break-word;
    text-align: left;
    font-weight: 900;
  }

  .heading {
    @include flex_font.dynamic(variables.$font-extra-size-xl, variables.$font-extra-size-xxl);
    padding-top: 10px;
    word-break: break-word;
    word-wrap: break-word;
    text-align: left;
    color: variables.$primary-lighter-lighter;
    text-transform: uppercase;
    font-weight: 900;
  }

  .text {
    @include flex_font.dynamic(variables.$font-size-md, variables.$font-size-lg);
    padding-top: 25px;
    word-break: break-word;
    word-wrap: break-word;
    text-align: left;
    color: variables.$primary-lighter-lighter;
  }
}